body{
	background: #1690A7;
	background-repeat: no-repeat;
    background-size: 1500px 720px;
    background-color: #cccccc;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

*{
	font-family: sans-serif;;
	box-sizing: border-box;
}

form{
	width:400px;
	
	padding:40px;
	
	border-radius: 15px;
	background-color: rgba(245,222,179,0.7);
    border: 5px solid green;

}

h2{
	text-align:center;
	margin-bottom: 20px;
}

input{
	display: block;
	border: 2px solid #ccc;
	width:95%;
	padding: 10px;
	margin:10px auto;
	border-radius: 5px;
}

label{
	
	font-size: 18px;
	padding: 10px;
}

button{
	float:right;
	height: 30px;
	background:#555;
	padding: :10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}

button:hover{
	opacity: 0.7;
}

.error{
	background: #F2DEDE;
	color:#A94442;
	padding: 10px;
	width:95%;
	border-radius: 5px;
	margin: 20px auto;
}



